<div class="jumbotron text-center">
  <h1>Welcome to Investment Calculator</h1>
</div>

<body>
<div class="container">
  <div align="center">
  <button>
    <%= link_to "Subscribe Today for only $5", user_path(current_user) %></
  </button> 
</div>
<br>

<!-- search using select tag -->
<div align="center">
    <select>
      <option value="inv02">Taxable vs. tax-free investment return</option>
      <option value="inv03">Value of bond</option>
      <option value="inv05">Value of compound interest</option>
      <option value="inv06">Value of a call or put option</option>
      <option value="inv07">Taxable vs. tax-advantaged savings</option>
      <option value="inv09">Long-term impact of increased return</option>
      <option value="inv10">Certificate of deposit (CD) analyzer</option>
      <option value="inv11">Dividend yield on a stock</option>
      <option value="inv12">Expenses impact mutual fund returns</option>
    </select>
    <input type="submit" value="submit">
</div>
<br>

  
<div class="row">
    <div class="col-sm-4">
      <div>
				<iframe id="Calculator" src="http://www.calcxml.com/do/inv02?teaser" height="300" width="340" frameborder="0"></iframe><br/>
			</div>
    </div>

    <div class="col-sm-4">
      	<div>
				<iframe id="Calculator" src="http://www.calcxml.com/do/inv03?teaser" height="300" width="340" frameborder="0"></iframe><br/>
				</div>
    </div>

    <div class="col-sm-4">
      <div>
      	<iframe id="Calculator" src="http://www.calcxml.com/do/inv05?teaser" height="300" width="340" frameborder="0"></iframe><br/>
      </div>
    </div>

    <div class="col-sm-4">
      <div>
      	<iframe id="Calculator" src="http://www.calcxml.com/do/inv06?teaser" height="300" width="340" frameborder="0"></iframe><br/>
      </div>
    </div>

    <div class="col-sm-4">
			<div>
				<iframe id="Calculator" src="http://www.calcxml.com/do/inv07?teaser" height="300" width="340" frameborder="0"></iframe><br/>
			</div>
    </div>

     <div class="col-sm-4">
     	<div>
     		<iframe id="Calculator" src="http://www.calcxml.com/do/inv09?teaser" height="300" width="340" frameborder="0"></iframe><br/>
     	</div>
		</div>

     <div class="col-sm-4">
			<div>
				<iframe id="Calculator" src="http://www.calcxml.com/do/inv10?teaser" height="300" width="340" frameborder="0"></iframe><br/>
			</div>
    </div>

     <div class="col-sm-4">
			<div>
				<iframe id="Calculator" src="http://www.calcxml.com/do/inv11?teaser" height="300" width="340" frameborder="0"></iframe><br/>
			</div>
    </div>

     <div class="col-sm-4">
			<div>
				<iframe id="Calculator" src="http://www.calcxml.com/do/inv12?teaser" height="300" width="340" frameborder="0"></iframe><br/>
			</div>
    </div>

  </div>
</div>

<a href="http://www.calcxml.com">Soure from :CalcXML Financial Calculators</a>

</body>