<div align="center">
  <h1>Account summary</h1>
	<h2>Thank You for subscribing to our app, you paid <strong>$5.00</strong>!</h2>

	<button>
		<a href="/">Try out our calculators now</a>
	</button>

</div>